@import 'abstracts/variables';
@import 'base/reset';
@import 'components/btn';
@import 'components/carte';
@import 'components/fonctionnement';
@import 'components/plat';
@import 'layout/header';
@import 'layout/localisation';
@import 'layout/presentation';
@import 'layout/restaurants';
@import 'layout/hero';
@import 'layout/menu';
@import 'layout/footer'; 
@import 'pages/responsive';
@import 'components/loader';