.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gris-fond;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: loaderFade 0.5s ease-out 2.5s forwards;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 40px;
        color: $noir;
        animation: logoScale 1s ease-in-out infinite alternate;
    }

    &__spinner {
        width: 50px;
        height: 50px;
        border: 4px solid $gris-fond;
        border-top: 4px solid $violet;
        border-right: 4px solid $rose;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logoScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes loaderFade {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}