.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background-color: $blanc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    &__logo {
        width: 197px;
        height: 36px;
    }

    &--restaurant {
        position: relative;

        .header__back {
            position: absolute;
            left: 20px;
            color: $noir;
            font-size: 20px;
            text-decoration: none;
        }

        .header__logo {
            font-family: 'Shrikhand', cursive;
            font-size: 30px;
            color: $noir;
            width: auto;
            height: auto;
        }
    }
}