.menu {
    background-color: $gris-fond;
    padding: 32px 20px;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__titre {
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 400;
    }

    &__favori {
        position: relative;
        width: 22px;
        height: 21px;
        cursor: pointer;

        &-vide {
            font-size: 22px;
            color: $noir;
        }

        &-plein {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 22px;
            background: linear-gradient(to bottom, $rose, $violet);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 300ms;
            pointer-events: none;
        }

        &:hover &-plein {
            opacity: 1;
        }
    }

    &__section {
        width: 100%;
        margin-bottom: 30px;
    }

    &__categorie {
        font-size: 16px;
        font-weight: 300;
        color: $gris-fonce;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 3px solid $vert;
        display: inline-block;
    }

    &__liste {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}