@media (min-width: 768px) {
    .header {
        height: 80px;

        &__logo {
            height: 50px;
        }
    }

    .presentation {
        padding: 50px 40px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .fonctionnement {
        padding: 30px 50px;

        &__liste {
            flex-direction: row;
            justify-content: space-between;
        }

        &__etape {
            flex: 1;
            margin: 0 10px;
        }
    }

    .restaurants {
        padding: 30px 50px;

        &__liste {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    .carte {
        width: calc(50% - 15px);
    }

    .footer {
        padding: 30px 50px;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 96px;

        &__logo {
            height: 34px;
        }
    }

    .presentation {
        padding: 60px 100px;

        h1 {
            margin-bottom: 25px;
            font-size: 40px;
        }

        p {
            margin-bottom: 35px;
            font-size: 18px;
        }
    }

    .fonctionnement {
        padding: 60px 100px;

        &__liste {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }

        &__etape {
            flex: 1;
            min-width: 0;
            max-width: none;
            text-align: center;
            padding-left: 30px;
            gap: 15px;
            height: 60px;

            p {
                white-space: nowrap;
                font-size: 14px;
            }
        }
    }

    .restaurants {
        padding: 40px 100px;

        h2 {
            margin-bottom: 20px;
        }

        &__liste {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 50px;
        }
    }

    .carte {
        width: calc(50% - 25px);
        max-width: none;

        &__image {
            height: 180px;
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px 50px;
        gap: 30px;
        height: 114px;

        &__logo {
            margin-bottom: 0;
            font-size: 1.1rem;
        }

        &__liste {
            display: flex;
            flex-direction: row;
            gap: 15px;

            li {
                margin-bottom: 0;
            }

            a {
                font-size: 0.85rem;
            }
        }
    }

    .hero {
        height: 400px;

        &__image {
            height: 400px;
        }
    }

    .menu {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
        padding: 40px 100px;
    }

    .plat {
        &__contenu {
            padding: 20px;
        }
    }
}